{% extends 'main.html' %}

{% block title %}Szart{% endblock %}

{% block strona %}

    <main>
      <section class="top-hero aboutme-hero">
        <p class="top-hero-text text-light">O mnie</p>
        <div class="hero-shadow"></div>
      </section>
      <section class="aboutme-top py-5">
        <div class="container py-5">
          <p class="display-3 logo">
            <i class="fas fa-palette my-color"></i>S<span class="my-color">z</span></span>ART
          </p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, veritatis eius. Esse, laboriosam iste ratione repellat architecto saepe. Iste cupiditate aliquid rem ratione, porro rerum! Sapiente, repellendus. Eius, voluptatum eos. Dolor, fugiat repudiandae facilis id quo maxime corrupti, repellendus impedit ullam ipsum alias, culpa aut animi voluptatum praesentium sunt porro!</p>
          <p>Nulla quas blanditiis voluptatem, veniam ea labore nemo, nostrum quod assumenda ullam officiis quo animi temporibus, praesentium dolor a. Quaerat fugiat non voluptatum tempore voluptatibus consequatur, magnam recusandae cumque debitis delectus odit officia quo facilis animi adipisci soluta culpa doloribus! Aspernatur delectus qui porro vitae, reiciendis debitis nihil atque alias?</p>
        </div>
      </section>

      <section class="aboutme-info aboutme-shadow border-top border-bottom">
        <div class="container">
          <div class="row m-0 justify-content-center">
            <div class="col-lg-3 aboutme-text aboutme-text-left">
              <h3>Początki</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi delectus recusandae quibusdam, laborum unde odit quas voluptatem voluptate dignissimos? Expedita quia a unde velit natus minima ea dolor. A, eveniet!</p>
            </div>
            <img src="./image/about.jpg" alt="portret" class="aboutme-img col-lg-4">
            <div class="col-lg-3 aboutme-text aboutme-text-right">
              <h3>Obecnie</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi delectus recusandae quibusdam, laborum unde odit quas voluptatem voluptate dignissimos? Expedita quia a unde velit natus minima ea dolor. A, eveniet!</p>

            </div>
          </div>

        </div>
      </section>


    </main>

 {% endblock %}