{% extends 'main.html' %}

{% block title %}Malarstwo{% endblock %}

{% block strona %}

    <main>
      <section class="top-hero projects-hero">
        <p class="top-hero-text text-light">Malarstwo<p>
          <div class="hero-shadow"></div>
      </section>
      <section class="py-5 projects mt-5 mb-5">

        <div class="container">
          <div class="row">
            {% for item in items %}
              <div class="col-md-4 col-lg-3">
                <div class="card mb-3">
                    <img src="/my_media/{{ item.image }}" alt="{{ item.image }}">
                    <div class="card-body">
                    <h3 class="p-3">{{ item.title }}</h3>
                    <p class="p-3">
                      {{ item.description }}
                    </p>
                    <div class="d-flex align-items-center justify-content-between">
                      <a href="{% url 'item' item.id %}">
                          <button class="btn btn-outline-dark px-4">pokaż</button></a>
                      <a href="">
                          <button class="btn btn-outline-dark px-4 bi bi-cart2"> dodaj</button></a>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>

      </section>
    </main>


{% endblock %}